// COLORS
$color-primary: #57b962;

$color-secondary: #1d2d5e;

$color-tertiary: #f18958;

$color-white: #fff;
$color-black: #000;
$color-grey: #e8ebed;

// FONT
$default-font-size: 1.4rem;

// GRID
$grid-width: 96rem; // 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// SHADOWS
$default-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
