.drop-down {
  position: absolute;
  right: 20px;
  top: 20px;
}

.content {
  padding-bottom: 10px;
  text-align: right;

  &__circle {
    font-size: 80px;
    background-color: rgba(48, 79, 254, 0.2);
    margin: 0;
    position: relative;
    // font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    font-weight: 400;
    // margin: 0 0.1em 0.1em 0;
    // background-color: rgba(48, 79, 254, 0.2);

    span {
      position: absolute;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      width: 5em;
      line-height: 5em;
      font-size: 0.2em;
      color: #304ffe;
      // color: #ccc;
      display: block;
      text-align: center;
      white-space: nowrap;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
    }

    &--slice {
      clip: rect(auto, auto, auto, auto);
      position: absolute;
      width: 1em;
      height: 1em;

      .bar {
        position: absolute;
        border: 0.08em solid #304ffe;
        width: 0.84em;
        height: 0.84em;
        clip: rect(0em, 0.5em, 1em, 0em);
        border-radius: 50%;
        // transform: rotate(0deg);
      }

      .fill {
        transform: rotate(180deg);
        position: absolute;
        border: 0.08em solid #304ffe;
        width: 0.84em;
        height: 0.84em;
        clip: rect(0em, 0.5em, 1em, 0em);
        border-radius: 50%;
        // transform: rotate(0deg);
      }
    }
  }

  .percent {
    float: left;
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #ff8f00;

    i {
      font-size: 12px;
      line-height: 22px;
      margin-right: 4px;
    }
  }

  &__right {
    margin-left: 130px;

    .counter {
      padding-top: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #434a54;
      font-size: 2rem;
    }

    .text {
      color: #aab2bd;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .percent-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 12px;
    background: #fff;
    overflow: hidden;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      z-index: 1;
      opacity: 0.2;
      width: 100%;
      background-color: #ff8f00;
    }

    &__fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      z-index: 2;
      background-color: #ff8f00;
    }
  }
}
